body,html,*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#slider{
    background-color: #CCC;
    width: 100%;
    height: 550px;
    position: relative;
}

#img{
    width: 100%;
    height: 550px;
    position: relative;
}

#btn_left{
    height: 550px;
    width: 100px;
    left: 0px;
    top: 0px;
    position: absolute;
}

#btn_right{
    height: 550px;
    width: 100px;
    right: 0px;
    top: 0px;
    position: absolute;
}

.left{
    position: absolute;
    top: 40%;
    left: 10px;
    width: 60px;
    height: 70px;
    opacity: 0.4;
}

.left:hover{
    opacity: 1;
}

.right{
    position: absolute;
    top: 40%;
    right: 10px;
    width: 60px;
    height: 70px;
    opacity: 0.4;
}

.right:hover{
    opacity: 1;
}

/*---------------Ici le style titre------------*/
.entete_titre{
    background: #F00A3C;
    text-align: center;
    color: #F7F6F6;
    padding: 40px;
    position: absolute;
    top: 60%;
    line-height: normal;
}

.entete_titre h1{
    font-size: 40px;
    line-height: normal;
}

#rs{
    position: absolute;
    text-align: center;
}

.sociaux{
    margin: 5px;
}

/*--------------Ici notre menu------------*/
#menu{
    background: #333;
    position: sticky;
    top: 0;
    overflow: hidden;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

li a:hover:not(.active){
    background: #F00A3C;
}

.active{
    background: #F00A3C;
}

/*--------------Contenu------------*/

#contenu{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 0px;
}

#contenu h1{
    font-size: 26px;
    color: #676162;
    font-weight: bold;
    padding: 20px;
}

.titre_section{
    font-size: 26px;
    width: 90%;
    margin-top: 5%;
    color: #676162;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

p{
    text-align: justify;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #313030;
}

.colonne{
    position: relative;
    float: left;
    width: 30%;
    min-height: 200px;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.image{
    opacity: 1;
    display: block; 
    max-width: 100%;
    transition: 0,5s ease;
    backface-visibility: hidden;
}

.middle{
    transition: 0,5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.text{
    position: relative;
    background: #F00A3C;
    color: #FCFBFB;
    font-size: 16px;
    padding: 16px 30px;
    cursor: pointer;
}

.colonne:hover .image{
    opacity: 0.3;
}

.colonne:hover .middle{
    opacity: 1;
}

